/* Specification */


body {
  margin: 0;
  padding: 0; 
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #212121;
  
  }

h1,h2,h3,h4,h5,p,a,ul,li {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #212121;
}
ul {
    list-style: none;
    display: flex;
}

.container {
    width: 1200px;
    margin: 0  auto;
    padding-right: 15px;
    padding-left: 15px;
}

.section {
    padding: 94px 0;
}   

/* [1] Content Главная */

/* [1.1] HEADER     */
header {
    border-bottom: 1px solid #ECECEC;    
}

.header-container {
    display: flex;
    padding-bottom: 0;
}

.logo {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2; 
    color: #2196F3;
    margin-right: 95px;
    margin-top: 25px;
}

.top-logo {
   color: black; 
}


/* [1.2] Navigation and Contacts */

.navigation {   
    margin: 32px 285px auto auto;
    
} 
.contacts {
    margin-top: 32px;;
}
.contacts-icon {
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.navigation-item-content,
.contacts-item-content {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-item:not(:last-child),
.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-item-content:hover, 
.contacts-item-content:hover,
.contacts-item-content:hover .contacts-icon {
    color: #2196F3;
    fill: #2196F3;
}


.contacts-item-content {
    color:#757575;
}
.navigation-item-content:focus, 
.contacts-item-content:focus,
.contacts-item-content:focus .contacts-icon {
    color: #2196F3;
    fill: #2196F3;
}


.navigation-item.active::after {
    display: block;
    content: '';
    
    height: 4px;
    width: 100%;
    background-color: #2196F3;
    margin-top: 28px;   
    border-radius: 2px; 
} 
.navigation-item-content.active {
    color: #2196F3;
}
 /*  [1.3] Hero Section */

.hero {
    
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/hero-background.jpg) no-repeat top;
    padding: 200px 0;
   
}
h1 {
     margin: 0 auto auto auto ;
     font-weight: 900;
     font-size: 44px;
     line-height: 1.3;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     color: #FFFFFF;
     
}

.btn {
    display: block;
    width: 200px;
    height: 50px;
    color: white;
    font-weight: bold;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid;
    border-color: #59a0da;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
    border-color:#fff;
   
    cursor: pointer;
}
.btn:active {
    border:2px solid rgb(255, 255, 255);
    color:#000;
    background: #59a0da;
    font-weight: bolder;
}

.backdrop {
    position: fixed;
    background: rgba(47, 48, 58, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
 
}
.backdrop.is-hidden {
     opacity: 0;
     pointer-events: none;
}

  
.modal-window {
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    
    padding: 40px 0;
    position: absolute;
    top: 221px;
    left: calc(50% - 264px);
    transform-origin:center;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.form-list {
    display: block;  
    
  }
  
.backdrop.is-hidden .modal-window {
    transform: scale(0.5);
}

.close-btn {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    left: 100%;
    top: 8px;
    transform: translateX(calc(-100% - 8px));
}
.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .close-icon {
    fill: #2196F3;
}

.form-tittle {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
}
.user-contacts-form {
    width: 450px; 
    margin: 12px auto 0 auto;
}
.user-contacts-element {
    display: flex;
    flex-direction: column;
    position: relative;
}
.user-coment::placeholder {
    font-size: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.user-contacts-element:not(:first-child) {
    margin-top: 10px;
}
.user-label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}
.user-input {
    border: 1px solid ;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 42px;
    
}
.user-coment {    
    width: 100%;    
    height: 100%;
    border: 1px solid ;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.user-contacts-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-input:hover, .user-input:focus, 
 .user-coment:hover, .user-coment:focus {
    cursor: pointer;
    border-color: #2196F3;
    outline: none;
}
.user-input:hover + .user-contacts-icon,
.user-input:focus + .user-contacts-icon  {
    fill: #2196F3;
}

.chekbox-wrapper {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center; 
   
}

.checkbox-icon {
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    background: #fff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon:hover {
    border-color: #2196F3;
} 
.checkbox-link {
    color: #2196F3;
       
}

.checkbox {
    appearance: none;
    position: absolute;

} 


.checkbox:checked + .checkbox-icon {
    border-color: #2196F3;
    background-image: url(.././images/agree-vector.svg);
    background-color: #2196F3;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
 
} 



.checkbox-txt {
    font-size: 14px;
    line-height: 1.7;
    color: #757575;
    margin-left: 9px;
}

.checkbox-link-wrapper {
    position: relative;
    margin-left: 3px;
}
.checkbox-link-wrapper::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #2196F3;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-3px);
} 




    /*  [1.4]  Section Skills      */

.skills-item:not(:last-child) {
    margin-right: 30px;
} 
.icon-place {
    height: 120px;
    background: #F5F4FA; 
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.skills-item-message {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
    margin-top: 10px;
}



/* [1.5]  Section Busines  */
.section_busines {
    padding-top: 0px;
}

h2 { 
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;

}
.busines {
    margin-top: 50px;
}
.busines-item {
    position: relative;
}
.busines-item:not(:last-child) {
    margin-right: 30px;
} 

.busines-item-tittle h3 {
    margin-top: 0;
}
.busines-item-tittle {
    color: #fff;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}


/*       [1.6]  Section Team      */

.team {
    flex-direction: row-reverse;
    fill: #AFB1B8;
}

.team-item {
    background: #fff; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.team-item:not(:first-child) {
    margin-right: 30px;
}

.photo {
    width: 270px;
    height: 260px;
    
}

.team-item-text {
    padding: 30px 0;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
}

.position {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #757575;
    margin-bottom: 16px;
    
} 
.team-social-links {
    display: flex;
    justify-content: center;
}
.social-links-item:not(:last-child) {
    margin-right: 10px;
}
.social-link {
    width: 44px;
    height: 44px;
    background-color: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
    fill: auto;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.social-link:hover,
.social-link:focus {
    background-color: #2196F3;
}
     

.social-link:hover .team-icon,
.social-link:focus .team-icon {
    fill: #fff;
  
}



/*       [1.7] Section Companys Logo */

.clients-list {
    justify-content: space-between;
}


.clients-link {
    border: 1px solid ;
    border-color: #AFB1B8;
    border-radius: 4px;  
    fill: #AFB1B8;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
    width: 106px;
    height: 60px;
    fill: auto;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
    
    border-color: #2196F3;
}


.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: #2196F3;
    
}




/*       [1.8]  FOOTER          */


footer {
    background: #2F303A;
    padding: 60px 0;
}
.foot-cont {
    display: flex;
    /* justify-content: space-between; */
}
.bottom-logo { 
    margin-right: 0;
}
.bottom-logo-color, .contact-color {
    color: #fff;
}
.contacts-wrapper {
    width: 231px;
    margin-right: 70px;

}
address {
    margin-top: 20px;
}
.contacts-list {
    display: block;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    
}
.contacts-list a {
    color: #ACACB0;
}
.contacts-list li:not(:first-child) {

    margin-top: 9px;
}

.contacts-social-links {
    margin-right: 93px; 
    padding-top: 12px;
    color: #FFFFFF;
    fill: #FFFFFF;
}

.connect {
     margin: 0 auto 20px auto;
}
.social-link-footer {
   
    background: rgba(255, 255, 255, 0.1);
}
/*    [1.9] subscribe       */

.subscribe {
    color: #fff;
    fill: #FFFFFF;
    padding-top: 12px;
}
.subscribe-form {
    display: flex;
    align-items: center;
}
.subscribe-elements {
    position: relative;
}

.form-input {
    width: 360px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 12px;
    background-color: #2F303A;
    color: #fff;
    
}

 /* .form-input:placeholder-shown {
background-color: rgb(196, 153, 153);
}  */


.form-label {
    position: absolute;
    left: 16px;
    top: 50%;
    color: #ACACB0;
    transform: translateY(-50%);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    opacity: 0;
    
}
.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    
}
.subscribe-icon {
    margin-left: 10px;
}



/*    [2] Portfolio       */



/*    [2.1] TABS */

.tabs {
    justify-content: center;
    
}
.tab {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-right: 8px;
    padding: 6px 22px;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.tab:hover,.tab:focus {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #fff;
    cursor: pointer;
}
/* .tab:focus {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #fff;
} */



/*           [2.2] GALARRY            */

.galarry {
    flex-flow: row wrap;
    margin-top: 50px;
}

.gallary-card {
    margin-right: 30px;
    margin-bottom: 30px;
 }

.gallary-card-image {
    position: relative;
    overflow: hidden;
}
   
.gallary-card-image::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    top: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.gallary-card:hover .gallary-card-image::before,
.gallary-card:hover .overlay-txt {
    transform: translateY(-100%);
}

.overlay-txt {
    content: '';
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    

}



.img-busines-portfolio {
    display: flex;
    width: 369px;
    height: 295px;
}

.gallary-card:nth-child(3n + 3) {
    
    margin-right: 0;
}
.gallary-card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo_tittles {
    padding: 20px 24px;  
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
    
}

.production {
    
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.06em;
}

.message {
    font-size: 14px;
    line-height: 1.7;
    color: #757575;
    margin-top: 10px; 
}



