.form-tittle {
    @include txt-p (20px, 1.1, bold);
    text-align: center;
}
.user-contacts-form {
    width: 450px; 
    margin: 12px auto 0 auto;
}
.user-contacts-element {
    display: flex;
    flex-direction: column;
    position: relative;
    &:not(:first-child) {
        margin-top: 10px;
    }
}



.user-label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
}
.user-input {
    border: 1px solid ;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    height: 40px;
    @include anim-p (border-color);
    padding-left: 42px;
    &:hover, &:focus {
        cursor: pointer;
        border-color: #2196F3;
        outline: none;
    }
    &:hover + .user-contacts-icon,
    &:focus + .user-contacts-icon  {
        fill: #2196F3;
    }
    
}
.user-coment {    
    width: 100%;    
    height: 100%;
    border: 1px solid ;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    resize: none;
    @include anim-p (border-color);
    &::placeholder {
        font-size: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    &:hover, &:focus {
        cursor: pointer;
        border-color: #2196F3;
        outline: none;
    }
}
.user-contacts-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    @include anim-p (fill);
    pointer-events: none;
}

.chekbox-wrapper {
    margin-top: 20px;
   @include dfcc;
}

.checkbox-icon {
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    background: #fff;
    @include anim-p (border-color);
    &:hover {
        border-color: #2196F3;
    } 
}

.checkbox-link {
    color: #2196F3;
       
}

.checkbox {
    appearance: none;
    position: absolute;
    &:checked + .checkbox-icon {
        border-color: #2196F3;
        background-image: url(.././images/agree-vector.svg);
        background-color: #2196F3;
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: border-box;
     
    } 

} 






.checkbox-txt {
    font-size: 14px;
    line-height: 1.7;
    color: #757575;
    margin-left: 9px;
}

.checkbox-link-wrapper {
    position: relative;
    margin-left: 3px;
}
.checkbox-link-wrapper::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #2196F3;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-3px);
} 