.navigation {   
    margin: 32px 285px auto auto;
    
} 
.contacts {
    margin-top: 32px;;
}
.contacts-icon {
    margin-right: 10px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.navigation-item-content,
.contacts-item-content {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-item:not(:last-child),
.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-item-content:hover, 
.contacts-item-content:hover,
.contacts-item-content:hover .contacts-icon {
    color: #2196F3;
    fill: #2196F3;
}


.contacts-item-content {
    color:#757575;
}
.navigation-item-content:focus, 
.contacts-item-content:focus,
.contacts-item-content:focus .contacts-icon {
    color: #2196F3;
    fill: #2196F3;
}


.navigation-item.active::after {
    display: block;
    content: '';
    
    height: 4px;
    width: 100%;
    background-color: #2196F3;
    margin-top: 28px;   
    border-radius: 2px; 
} 
.navigation-item-content.active {
    color: #2196F3;
}