header {
    border-bottom: 1px solid #ECECEC;    
}

.header-container {
    display: flex;
    padding-bottom: 0;
}

.logo {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2; 
    color: #2196F3;
    margin-right: 95px;
    margin-top: 25px;
}

.top-logo {
   color: black; 
}