.contacts-wrapper {
    width: 231px;
    margin-right: 70px;

}
address {
    margin-top: 20px;
}
.contacts-list {
    display: block;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    
}
.contacts-list a {
    color: #ACACB0;
}
.contacts-list li:not(:first-child) {

    margin-top: 9px;
}

.contacts-social-links {
    margin-right: 93px; 
    padding-top: 12px;
    color: #FFFFFF;
    fill: #FFFFFF;
}

.connect {
     margin: 0 auto 20px auto;
}
.social-link-footer {
   
    background: rgba(255, 255, 255, 0.1);
}